<div class="newnav-gray-container">
  <div class="newnav-top">
    <div class="newnav-list-end">
      <%= link_to "contact", root_path %>
      <%= link_to "report information", root_path %>
    </div>
  </div>
  <div class="newnav-container">

    <div class="newnav-logo">
      <div class="nav-logo-img"></div>
      <%= link_to root_path do%>
        <p>central</p>
        <p>inteligence</p>
        <p>agency</p>
      <% end %>
    </div>

    <div class="newnav-list-center">
      <%= link_to "Today's CIA", root_path %>
      <%= link_to "Careers", root_path %>
      <%= link_to "Legacy", root_path %>
      <%= link_to "Newsroom", root_path %>
      <%= link_to "Library", root_path %>
    </div>

    <div class="newnav-list-end">
      <%= link_to "contact", root_path %>
      <%= link_to "report information", root_path %>
    </div>
  </div>
</div>
