<div class="newnav-gray-container">

  <div class="newnav-container">

    <div class="newnav-logo">
      <%= image_tag("ehseize.png", class: "nav-logo-img") %>
      <%= link_to root_path do%>
        <p>Expand</p>
        <p>Your</p>
        <p>Horizons</p>
      <% end %>
    </div>

    <div class="newnav-list-center">
      <%= link_to "Home", root_path %>
      <%= link_to "Our Projects", root_path %>
      <%= link_to "Our Styles of Services", root_path %>
      <%= link_to "Estimate", root_path %>
      <%= link_to "About", root_path %>
    </div>

    <div class="newnav-list-end-container">
      <div class="newnav-list-end">
        <%= link_to "choose your new website", root_path %>
      </div>
    </div>

  </div>

</div>
