<script>
  // JavaScript pour mettre à jour la barre de progression
  window.addEventListener('scroll', function() {
    const progressBar = document.getElementById('progress-bar');
    const totalHeight = document.documentElement.scrollHeight - window.innerHeight;
    const scrollPosition = window.scrollY;
    const scrollPercentage = (scrollPosition / totalHeight) * 100;

    progressBar.style.width= scrollPercentage + "%";
  });
</script>

<div class="newnav-gray-container">

  <div class="newnav-container">

    <div class="newnav-logo">
      <%= image_tag("uh_logo_white.png", class: "nav-logo-img") %>
      <%= link_to root_path, data: { turbo: false } do%>
        <p>Unlock</p>
        <p>Your</p>
        <p>Horizons</p>
      <% end %>
    </div>

    <div class="newnav-list-center">
      <%= link_to "Home", root_path, data: { turbo: false } %>
      <%= link_to "Our Projects", projects_path, data: { turbo: false } %>
      <%= link_to "Our Services", nosservices_path, data: { turbo: false } %>
      <%= link_to "Estimation", estimation_path, data: { turbo: false } %>
      <%= link_to "Contact", about_path, data: { turbo: false } %>
    </div>

    <div class="newnav-list-end-container">
      <div class="newnav-list-end">
        <%= link_to "choose your new website", root_path, data: { turbo: false } %>
      </div>
    </div>

  </div>

  <div class="progress-bar" id="progress-bar"></div>

</div>
