<div class="newnav-gray-container">

  <div class="newnav-container">

    <div class="newnav-logo">
      <%= image_tag("ehseize.png", class: "nav-logo-img") %>
      <%= link_to root_path do%>
        <p>Central</p>
        <p>Intelligence</p>
        <p>Agency</p>
      <% end %>
    </div>

    <div class="newnav-list-center">
      <%= link_to "Today's CIA", root_path %>
      <%= link_to "Careers", root_path %>
      <%= link_to "Legacy", root_path %>
      <%= link_to "Newsroom", root_path %>
      <%= link_to "Library", root_path %>
    </div>

    <div class="newnav-list-end">
      <%= link_to "i chose my new website", root_path %>
    </div>
  </div>
</div>
