<div class="phone-nav-container">

  <div class="phone-nav-gray-container">

    <div class="phone-nav-content">
      <div class="newnav-logo">

        <%= image_tag("uh_logo_white.png", class: "nav-logo-img") %>
          <%= link_to root_path, data: { turbo: false } do%>
            <p>Unlock</p>
            <p>Your</p>
            <p>Horizons</p>
          <% end %>
        </div>

        <div class="burger">
          <div></div>
        </div>


    </div>

  </div>

  <div class="phone-nav-list-container">
    <div class="phone-nav-list">
      <%= link_to "Home", root_path, data: { turbo: false }, class:"phone-nav-link" %>
      <%= link_to "Services", nosservices_path, data: { turbo: false }, class:"phone-nav-link" %>
      <%= link_to "Estimation", estimation_path, data: { turbo: false }, class:"phone-nav-link" %>
      <%= link_to "Contact", about_path, data: { turbo: false }, class:"phone-nav-link" %>
    </div>
  </div>

</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const menu = document.querySelector('.phone-nav-list-container');
    const burgerElement = document.querySelector('.burger');

    burgerElement.addEventListener('click', function() {
      const menuIsOpen = menu.style.display === 'flex';

      if (menuIsOpen) {
        menu.style.display = 'none'; // Cache le menu
        document.body.classList.remove('no-scroll'); // Réactive le scroll
      } else {
        menu.style.display = 'flex'; // Affiche le menu
        document.body.classList.add('no-scroll'); // Empêche le scroll
      }

      // Bascule la classe 'clicked' pour animer le bouton
      burgerElement.classList.toggle('clicked');
    });
  });
</script>
