<div class="home-troisieme-div-container">
  <div class="home-troisieme-div-content">



    <div class="home-trois-container">

      <div class="ns-traits-container">
        <div class="ns-trait"></div>
        <div class="ns-trait"></div>
        <div class="ns-trait"></div>
        <div class="ns-trait"></div>
        <div class="ns-trait"></div>
      </div>

      <div class="home-trois-gauche">
        <%= image_tag("styles_site/main_pic.png", class: "home-trois-gauche-logo-img js-home-third-pic ") %>
        <%= link_to nosservices_path, class: 'btn-rouge js-home-third-button home-trois-btn-phone', data: { turbo: false } do %>
            <div class="block-rouge"></div>
            <div class="block-noir-fleche">
              <i class="fa-solid fa-arrow-right" style="color: #fff;"></i>
            </div>
            <div class="block-text"><%= t('home.homethird.link_text') %></div>
          <% end %>
      </div>

      <div class="home-trois-droite">
        <div class="home-trois-droite-content">

          <h2 class="text-title"><%= t('home.homethird.services_title') %></h2>
          <p class="text-bold"><%= t('home.homethird.text1') %></p>
          <p class="text-lighty"><%= t('home.homethird.text2') %></p>

          <%= link_to nosservices_path, class: 'btn-rouge js-home-third-button home-trois-btn-large', data: { turbo: false } do %>
            <div class="block-rouge"></div>
            <div class="block-noir-fleche">
              <i class="fa-solid fa-arrow-right" style="color: #fff;"></i>
            </div>
            <div class="block-text"><%= t('home.homethird.link_text') %></div>
          <% end %>

        </div>
      </div>

    </div>


  </div>
</div>

<script>

  window.addEventListener('scroll', function() {
      var scrollPosition = window.scrollY;
      var scrollText = document.querySelector('.js-home-third-pic');

      if (scrollPosition > 860) {
        scrollText.classList.add('show');
      } else {
        scrollText.classList.remove('show');
      }

      var scrollText = document.querySelector('.js-home-third-button');

      if (scrollPosition > 1100) {
        scrollText.classList.add('shake');
      } else {
        scrollText.classList.remove('shake');
      }

    });
</script>
