<div class="home-quatrieme-div-container">
  <div class="home-quatrieme-div-content">

    <div class="home-quatre-title">
      <h2 class="text-title">Last Projects</h2>
    </div>

    <div class="home-quatre-article-container-master-flex">
      <div class="home-quatre-article-container">

        <% @latest_projects.each_with_index do |project, index| %>
          <%= link_to project_path(project, anchor: 'page-show-project') do %>

            <div class="home-quatre-article <%= "js-home-fourth-article-first" if index == 0 %><%= "js-home-fourth-article-second" if index == 1 %><%= "js-home-fourth-article-third" if index == 2 %>">
              <div class="home-quatre-picture">
                <div class="picture">
                  <% if project.photo.attached? %>
                    <%= cl_image_tag(project.photo.key, loading: "eager", fetchpriority: "high") %>
                  <% else %>
                    <%= image_tag("proj_img/pro_merli.png", loading: "eager", fetchpriority: "high") %>
                  <% end %>
                </div>
              </div>

              <div class="home-quatre-article-title">
                <h2 class="text-article-bold"><%= project.title %></h2>
              </div>

              <div class="home-quatre-article-link">
                <div class="home-quatre-link-text">
                  <p class="text-article-link">Watch Video</p>
                </div>
                <div class="home-quatre-link-arrow">
                  <i class="fa-solid fa-arrow-right"></i>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

      </div>
    </div>



    <div class="link-ligne-rouge-container">
      <div class="link-ligne-rouge-red"></div>
      <%= link_to 'Explore All Projects', projects_path, class: 'text-bold', data: { turbo: false } %>
    </div>






  </div>
</div>


<script>
  window.addEventListener('scroll', function() {
      var scrollPosition = window.scrollY;

      // Sélectionnez les trois éléments que vous souhaitez animer
      var scrollHomeFourthArticleFirst = document.querySelector('.js-home-fourth-article-first');
      var scrollHomeFourthArticleSecond = document.querySelector('.js-home-fourth-article-second');
      var scrollHomeFourthArticleThird = document.querySelector('.js-home-fourth-article-third');

      // Vérifiez si le défilement dépasse 1650 pour déclencher les animations
      if (scrollPosition > 1650) {
        // Premier élément : aucun délai
        scrollHomeFourthArticleFirst.classList.add('shake-article');

        // Deuxième élément : délai de 1 seconde
        setTimeout(function() {
          scrollHomeFourthArticleSecond.classList.add('shake-article');
        }, 250);

        // Troisième élément : délai de 2 secondes
        setTimeout(function() {
          scrollHomeFourthArticleThird.classList.add('shake-article');
        }, 500);
      } else {
        // Retirer les classes lorsque l'utilisateur revient en arrière
        scrollHomeFourthArticleFirst.classList.remove('shake-article');
        scrollHomeFourthArticleSecond.classList.remove('shake-article');
        scrollHomeFourthArticleThird.classList.remove('shake-article');
      }
    });
</script>
