<div class="ns-pdo-container">
  <div class="ns-pdo-content">

    <!-- landing page ------------------------------------ -->
    <div class="ns-pdo-black-container">
      <div class="ns-pdo-black-content">

        <div class="ns-traits-container">
          <div class="ns-trait"></div>
          <div class="ns-trait"></div>
          <div class="ns-trait"></div>
          <div class="ns-trait"></div>
          <div class="ns-trait"></div>
        </div>

        <div class="ns-pdo-black-gauche">
          <div class="ns-pdo-black-gauche-img js-ns-third-one-pic"><%= image_tag("styles_site/landing.png") %></div>
        </div>

        <div class="ns-pdo-black-droite">
          <div class="ns-pdo-black-droite-content">
            <h2 class="text-title">Landing Page</h2>
            <p class="text-bold">Single-Page Site</p>
            <p class="text-lighty">A single page designed to capture attention and prompt immediate action, often used by businesses to highlight a specific service, product, or offering. Landing pages are streamlined to focus on a clear objective, such as collecting leads, encouraging inquiries, or driving engagement. These pages offer a highly targeted experience, designed to guide visitors toward a specific action with minimal distractions.</p>

            <div class="ns-pdo-two-link">

              <div class="link-ligne-rouge-container">
                <div class="link-ligne-rouge-red"></div>
                <a href="#" class="text-bold">View an example page</a>
              </div>

              <div class="link-ligne-rouge-container link-estimation">
                <div class="link-ligne-rouge-red"></div>
                <a href="#" class="text-bold">Estimation</a>
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>

    <!-- site vitrine ------------------------------------ -->
    <div class="ns-pdo-white-container">
      <div class="ns-pdo-white-content">



        <div class="ns-pdo-white-gauche">
          <div class="ns-pdo-white-gauche-content">
            <h2 class="text-title">Showcase Website</h2>
            <p class="text-bold">Professional Online Presence</p>
            <p class="text-lighty">A multi-page website designed to showcase a company's services, products, or brand in a comprehensive and professional manner. Unlike a landing page, a brochure website offers a broad overview of what the business has to offer. It provides more in-depth content, such as company information, service descriptions, and contact details, making it an ideal solution for businesses that want to establish a strong online presence without focusing on a single call-to-action.</p>

            <div class="ns-pdo-two-link">
              <div class="link-ligne-rouge-container">
                <div class="link-ligne-rouge-red"></div>
                <a href="#" class="text-bold">View an example page</a>
              </div>

              <div class="link-ligne-rouge-container link-estimation">
                <div class="link-ligne-rouge-red"></div>
                <a href="#" class="text-bold">Estimation</a>
              </div>
            </div>

          </div>
        </div>

        <div class="ns-pdo-white-droite">
          <div class="ns-pdo-white-droite-img js-ns-third-two-pic"><%= image_tag("styles_site/vitrine.png") %></div>
        </div>

      </div>
    </div>

    <!-- cms ------------------------------------ -->
    <div class="ns-pdo-black-container">
      <div class="ns-pdo-black-content">

        <div class="ns-traits-container">
          <div class="ns-trait"></div>
          <div class="ns-trait"></div>
          <div class="ns-trait"></div>
          <div class="ns-trait"></div>
          <div class="ns-trait"></div>
        </div>

        <div class="ns-pdo-black-gauche">
          <div class="ns-pdo-black-gauche-img js-ns-third-three-pic"><%= image_tag("styles_site/cms.png") %></div>
        </div>

        <div class="ns-pdo-black-droite">
          <div class="ns-pdo-black-droite-content">
            <h2 class="text-title">CMS</h2>
            <p class="text-bold">Content Management System</p>
            <p class="text-lighty">A CMS website gives businesses full control over their content without requiring advanced technical skills. With a content management system, users can easily add, edit, and delete pages, blog posts, images, and other elements. This makes CMS websites ideal for companies that frequently update content, such as news sites, service providers, or organizations that need to keep their audience informed. The intuitive interface allows anyone to manage the content efficiently, ensuring the website remains current and engaging.</p>

            <div class="ns-pdo-two-link">
              <div class="link-ligne-rouge-container">
                <div class="link-ligne-rouge-red"></div>
                <a href="#" class="text-bold">View an example page</a>
              </div>

              <div class="link-ligne-rouge-container link-estimation">
                <div class="link-ligne-rouge-red"></div>
                <a href="#" class="text-bold">Estimation</a>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

    <!-- e-commerce ------------------------------------ -->
    <div class="ns-pdo-white-container">
      <div class="ns-pdo-white-content">



        <div class="ns-pdo-white-gauche">
          <div class="ns-pdo-white-gauche-content">
            <h2 class="text-title">E-commerce</h2>
            <p class="text-bold">High-Performance Online Store</p>
            <p class="text-lighty">An e-commerce website allows businesses to sell products or services directly to customers online. With a fully functional e-commerce platform, you can manage product listings, track inventory, process payments securely, and handle shipping details. E-commerce websites are equipped with features like shopping carts, customer accounts, and order management tools. This type of website is ideal for businesses looking to expand their market reach and offer a seamless shopping experience to their customers, with the ability to add, edit, or remove products as needed.</p>

            <div class="ns-pdo-two-link">
              <div class="link-ligne-rouge-container">
                <div class="link-ligne-rouge-red"></div>
                <a href="#" class="text-bold">View an example page</a>
              </div>

              <div class="link-ligne-rouge-container link-estimation">
                <div class="link-ligne-rouge-red"></div>
                <a href="#" class="text-bold">Estimation</a>
              </div>
            </div>


          </div>
        </div>

        <div class="ns-pdo-white-droite">
          <div class="ns-pdo-white-droite-img js-ns-third-four-pic"><%= image_tag("styles_site/eco.png") %></div>
        </div>

      </div>
    </div>

    <!-- web app ------------------------------------ -->
    <div class="ns-pdo-black-container">
      <div class="ns-pdo-black-content">

        <div class="ns-traits-container">
          <div class="ns-trait"></div>
          <div class="ns-trait"></div>
          <div class="ns-trait"></div>
          <div class="ns-trait"></div>
          <div class="ns-trait"></div>
        </div>

        <div class="ns-pdo-black-gauche">
          <div class="ns-pdo-black-gauche-img js-ns-third-five-pic"><%= image_tag("styles_site/apph.png") %></div>
        </div>

        <div class="ns-pdo-black-droite">
          <div class="ns-pdo-black-droite-content">
            <h2 class="text-title">Web Application</h2>
            <p class="text-bold">Interactive and Custom Tools</p>
            <p class="text-lighty"> web application is an interactive platform that allows users to perform specific tasks or functions online. Unlike traditional websites, web applications provide dynamic features and can respond to user input in real time. Examples of web applications include Uber for ride-hailing services, Tinder for online dating, and Slack for team collaboration. These applications enable businesses to offer unique services, enhance user experiences, and streamline operations. Web applications are designed to be user-friendly and accessible from any device with internet connectivity, ensuring a seamless experience for users while allowing for easy updates and modifications as needed.</p>

            <div class="ns-pdo-two-link">
              <div class="link-ligne-rouge-container">
                <div class="link-ligne-rouge-red"></div>
                <a href="#" class="text-bold">View an example page</a>
              </div>

              <div class="link-ligne-rouge-container link-estimation">
                <div class="link-ligne-rouge-red"></div>
                <a href="#" class="text-bold">Estimation</a>
              </div>
            </div>


          </div>
        </div>

      </div>
    </div>

    <!-- qr code ------------------------------------ -->
    <div class="ns-pdo-white-container">
      <div class="ns-pdo-white-content">



        <div class="ns-pdo-white-gauche">
          <div class="ns-pdo-white-gauche-content">
            <h2 class="text-title">Qr Code Bar/Restaurant</h2>
            <p class="text-bold">Simplified Ordering via QR Code</p>
            <p class="text-lighty">A custom QR Code system for bars and restaurants offers several options tailored to the needs of each establishment. This system allows for displaying the menu online, enabling customers to easily view it by scanning the QR code</p>
            <p class="text-lighty">The first option consists of providing only the visible menu, making it easier for customers to consult. Additionally, it is possible to integrate an ordering feature, allowing customers to place their orders directly from the menu without payment options. This simplifies the ordering process while maintaining direct interaction with the staff.</p>
            <p class="text-lighty">For an even smoother experience, a comprehensive solution can be added where customers can view the menu, place their orders, and make payments online. This reduces wait times and improves service efficiency.</p>

            <div class="ns-pdo-two-link">
              <div class="link-ligne-rouge-container">
                <div class="link-ligne-rouge-red"></div>
                <a href="#" class="text-bold">View an example page</a>
              </div>

              <div class="link-ligne-rouge-container link-estimation">
                <div class="link-ligne-rouge-red"></div>
                <a href="#" class="text-bold">Estimation</a>
              </div>
            </div>

          </div>
        </div>

        <div class="ns-pdo-white-droite">
          <div class="ns-pdo-white-droite-img js-ns-third-six-pic"><%= image_tag("styles_site/qr.png") %></div>
        </div>

      </div>
    </div>


  </div>
</div>

<script>

  window.addEventListener('scroll', function() {
      var scrollPosition = window.scrollY;
      console.log(scrollPosition);




      var scrollNsThirdOnePic = document.querySelector('.js-ns-third-one-pic');

      if (scrollPosition > 1100) {
        scrollNsThirdOnePic.classList.add('show');
      } else {
        scrollNsThirdOnePic.classList.remove('show');
      }

      var scrollNsThirdTwoPic = document.querySelector('.js-ns-third-two-pic');

      if (scrollPosition > 1900) {
        scrollNsThirdTwoPic.classList.add('show');
      } else {
        scrollNsThirdTwoPic.classList.remove('show');
      }

      var scrollNsThirdThreePic = document.querySelector('.js-ns-third-three-pic');

      if (scrollPosition > 2620) {
        scrollNsThirdThreePic.classList.add('show');
      } else {
        scrollNsThirdThreePic.classList.remove('show');
      }

      var scrollNsThirdFourPic = document.querySelector('.js-ns-third-four-pic');

      if (scrollPosition > 3400) {
        scrollNsThirdFourPic.classList.add('show');
      } else {
        scrollNsThirdFourPic.classList.remove('show');
      }

      var scrollNsThirdFivePic = document.querySelector('.js-ns-third-five-pic');

      if (scrollPosition > 4270) {
        scrollNsThirdFivePic.classList.add('show');
      } else {
        scrollNsThirdFivePic.classList.remove('show');
      }

      var scrollNsThirdSixPic = document.querySelector('.js-ns-third-six-pic');

      if (scrollPosition > 4980) {
        scrollNsThirdSixPic.classList.add('show');
      } else {
        scrollNsThirdSixPic.classList.remove('show');
      }


    });
</script>
