<div class="dash-container">
  <div class="pass-nav-block-noir"></div>
  <div class="dash-first">

    <div class="dash-title-container">
      <h2 class="text-main-title">🔥 Dashboard 🔥</h2>
    </div>

    <!-- Bouton pour créer un projet -->

    <div class="d-flex justify-content-center">
      <div class="link-ligne-rouge-container">
        <div class="link-ligne-rouge-red"></div>
        <%= link_to 'Create New Project', new_project_path, class: 'text-bold', data: { turbo: false } %>
      </div>
    </div>




    <div class="projects-grid">


      <% @projects.each do |project| %>


          <div class="home-quatre-article">

            <div class="home-quatre-picture">
              <div class="picture">

                <% if project.photo.attached? %>
                  <%= cl_image_tag(project.photo.key, loading: "eager", fetchpriority: "high") %>
                <% else %>
                  <%= image_tag("proj_img/pro_merli.png", loading: "eager", fetchpriority: "high") %>
                <% end %>

              </div>
            </div>

            <div class="home-quatre-article-title">
              <h2 class="text-article-bold"><%= project.title %></h2>
            </div>

            <div class="home-quatre-article-link">

              <div class="home-quatre-link-text">
                <%= link_to project_path(project) do %>
                  <p class="text-article-link">Watch Video</p>
                <% end %>
              </div>
              <div class="home-quatre-link-arrow">
                <%= link_to edit_project_path(project), class: "dash-project-edit" do %>
                  <i class="fa-solid fa-pen-to-square" style="color: #111;"></i>
                <% end %>
              </div>
              <div class="home-quatre-link-arrow">
                <%= link_to project_path(project), data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer ?" }, class: "deco-none dash-corbeille" do %>
                  <i class="fa-solid fa-trash" style="color: #111;"></i>
                <% end %>
              </div>


            </div>

          </div>


      <% end %>

    </div>

  </div>

</div>
