<!-- estimation -->
<script>

  document.addEventListener("turbo:load", function() {
    const totalPriceElement = document.getElementById('total-price');
    const totalContainer = document.getElementById('total-container'); // Corrected to getElementsByClassName
    let totalPrice = 0;

    // Fonction pour mettre à jour le prix total
    function updateTotalPrice() {
      totalPrice = 0;
      const allCheckedCheckboxes = document.querySelectorAll('.price-checkbox:checked');
      allCheckedCheckboxes.forEach((checkbox) => {
        totalPrice += parseInt(checkbox.getAttribute('data-price'), 10);
      });
      totalPriceElement.textContent = totalPrice.toLocaleString('fr-FR');

      // Vérifie si le total est 0 et applique les classes de style
      if (totalPrice === 0) {
        // mettre display: none à .stimation-result-total-container
        totalContainer.style.display = 'none';
      } else {
        // mettre display: block à .stimation-result-total-container
        totalContainer.style.display = 'block';
      }
    }

    // Gérer les sélections uniques par catégorie
    function handleSingleOption(categoryClass) {
      const checkboxes = document.querySelectorAll(`.${categoryClass}`);
      checkboxes.forEach((checkbox) => {
        checkbox.addEventListener('change', function() {
          if (this.checked) {
            // Décocher les autres cases dans la même catégorie et réinitialiser le fond
            checkboxes.forEach((cb) => {
              if (cb !== this) {
                cb.checked = false;
                cb.parentElement.style.backgroundColor = ''; // Réinitialiser le fond
                cb.parentElement.style.color = '#111'; // Réinitialiser la couleur
              }
            });
            this.parentElement.style.backgroundColor = '#e21a41'; // Appliquer le fond rouge
            this.parentElement.style.color = '#fff'; // Appliquer la couleur font rouge
          } else {
            this.parentElement.style.backgroundColor = ''; // Réinitialiser si décochée
            this.parentElement.style.color = '#111'; // Réinitialiser si décochée
          }
          updateTotalPrice();
        });
      });
    }

    // Appliquer la gestion aux catégories
    handleSingleOption('category-1');
    handleSingleOption('category-2');
    handleSingleOption('category-3');
    handleSingleOption('category-4');

    // Gestion pour les sélections multiples
    const multipleCheckboxes = document.querySelectorAll('.multiple-option');
    multipleCheckboxes.forEach((checkbox) => {
      checkbox.addEventListener('change', function() {
        if (this.checked) {
          this.parentElement.style.backgroundColor = '#e21a41'; // Appliquer le fond rouge
          this.parentElement.style.color = '#fff'; // Appliquer la couleur font rouge
        } else {
          this.parentElement.style.backgroundColor = ''; // Réinitialiser si décochée
          this.parentElement.style.color = '#111'; // Réinitialiser si décochée
        }
        updateTotalPrice();
      });
    });

    // Initialiser le prix total au chargement de la page
    updateTotalPrice();
  });

</script>



<!-- ESTIMATION ----------------------------------------------------------- -->

<div class="pass-nav-block-noir"></div>

<div class="ns-container">

  <div class="imagevague-container">
    <%= image_tag("lignevague.png", class: "imagevague") %>
  </div>

  <div class="ns-content">

    <div class="ns-first">

      <div class="ns-traits-container">
        <div class="ns-trait"></div>
        <div class="ns-trait"></div>
        <div class="ns-trait"></div>
        <div class="ns-trait"></div>
        <div class="ns-trait"></div>
      </div>

      <div class="ns-first-gauche">
        <div class="ns-first-droite-content">
          <h2 class="text-main-title">Estimation</h2>

          <div class="ns-first-gauche-block-border-left-red">
            <p class="text-bold">Estimate the cost of your future website in just a few clicks!</p>
            <p class="text-lighty">In addition to the many features of your site, you have the option to customize it to your liking by adding the following functionalities if you wish.</p>

            <div class="ns-first-phone-img">
              <div class="ns-first-logo"><%= image_tag("targetuh.png") %></div>
            </div>

            <div class="link-ligne-rouge-container">
              <div class="link-ligne-rouge-red"></div>
              <a href="#" class="text-bold">Choose my options</a>
            </div>
          </div>

        </div>
      </div>

      <div class="ns-first-droite">
        <div class="ns-first-logo"><%= image_tag("targetuh.png") %></div>
      </div>

    </div>

  </div>

  <div class="ns-fist-arrow-container">
    <i class="fa-solid fa-caret-down" style="color: #e21a41;"></i>
  </div>

</div>




<div class="estimation-container-white" data-controller="estimation">
  <div class="estimation-seconde-content">

    <h2 class="text-title">Your Website Estimation</h2>



    <div class="estimation-choix-result-container">

      <div class="estimation-choix-gauche">


        <!-- Première catégorie : une seule option sélectionnable -->
        <div>
          <h3 class="text-bold">1 : Your website style</h3>

          <label data-action="click->estimation#first_cat_first_choice">
            <input type="checkbox" class="price-checkbox single-option category-1" data-price="1500"> Landing Page
          </label>

          <label data-action="click->estimation#first_cat_first_choice">
            <input type="checkbox" class="price-checkbox single-option category-1" data-price="3000"> Showcase Website
          </label>

          <label data-action="click->estimation#first_cat_second_choice">
            <input type="checkbox" class="price-checkbox single-option category-1" data-price="4000"> Content Management System
          </label>

          <label data-action="click->estimation#first_cat_third_choice">
            <input type="checkbox" class="price-checkbox single-option category-1" data-price="30000"> E-commerce
          </label>

          <label data-action="click->estimation#first_cat_third_choice">
            <input type="checkbox" class="price-checkbox single-option category-1" data-price="30000"> Web application
          </label>

          <label data-action="click->estimation#first_cat_fourth_choice">
            <input type="checkbox" class="price-checkbox single-option category-1" data-price="10000"> QR Code for Bar/Restaurant
          </label>

        </div>

        <!-- Deuxieme catégorie : une seule option sélectionnable -->
        <div>
          <h3 class="text-bold">2 : Need a website mockup?</h3>
          <label data-action="click->estimation#second_cat_first_choice">
            <input type="checkbox" class="price-checkbox single-option category-2" data-price="0"> No
          </label>
          <label data-action="click->estimation#second_cat_second_choice">
            <input type="checkbox" class="price-checkbox single-option category-2" data-price="1000"> Yes
          </label>
        </div>




        <!-- Troisieme catégorie : une seule option sélectionnable -->
        <div>
          <h3 class="text-bold">3 : Website animation</h3>

          <label data-action="click->estimation#third_cat_first_choice">
            <input type="checkbox" class="price-checkbox single-option category-3" data-price="0"> Standard
          </label>

          <label data-action="click->estimation#third_cat_second_choice">
            <input type="checkbox" class="price-checkbox single-option category-3" data-price="1000"> Dynamic
          </label>

          <label data-action="click->estimation#third_cat_third_choice">
            <input type="checkbox" class="price-checkbox single-option category-3" data-price="4000"> Creative
          </label>
        </div>

        <!-- Quatrieme catégorie : une seule option sélectionnable -->
        <div>
          <h3 class="text-bold">4 : Website contact</h3>

          <label data-action="click->estimation#fourth_cat_first_choice">
            <input type="checkbox" class="price-checkbox single-option category-4" data-price="0"> By link
          </label>


          <label data-action="click->estimation#fourth_cat_third_choice">
            <input type="checkbox" class="price-checkbox single-option category-4" data-price="800"> By E-mail
          </label>

        </div>

        <!-- Cinquieme catégorie : plusieurs options sélectionnables -->
        <div>
          <h3 class="text-bold">5 : Most requested additions</h3>

          <label data-action="click->estimation#fifth_cat_first_choice">
            <input type="checkbox" class="price-checkbox multiple-option" data-price="500"> Map location
          </label>

          <label data-action="click->estimation#fifth_cat_second_choice">
            <input type="checkbox" class="price-checkbox multiple-option" data-price="500"> Comments and reviews
          </label>

        </div>




      </div>





      <div class="estimation-result-droite">

        <span>
          <div class="estimation-result-title-container">
            <h3 class="estimation-result-title">Your website</h3>
          </div>
        </span>

        <div class="estimation-result-target-container">
          <div data-estimation-target="firstCatFirstType" class="esti-target-div"><p>- Information presentation</p></div>
          <div data-estimation-target="firstCatFirstType" class="esti-target-div"><p>- Image gallery</p></div>
          <div data-estimation-target="firstCatFirstType firstCatFourthType" class="esti-target-div"><p>- Contact information</p></div>
          <div data-estimation-target="firstCatFirstType" class="esti-target-div"><p>- Multi-screen adaptability</p></div>
          <p data-estimation-target="firstCatFirstType"><br></p>

          <div data-estimation-target="firstCatSecondType" class="esti-target-div"><p>- Admin interface</p></div>
          <div data-estimation-target="firstCatSecondType" class="esti-target-div"><p>- Article creation</p></div>
          <div data-estimation-target="firstCatSecondType" class="esti-target-div"><p>- Media management</p></div>
          <div data-estimation-target="firstCatSecondType" class="esti-target-div"><p>- Categories and filters</p></div>
          <div data-estimation-target="firstCatSecondType firstCatFourthType" class="esti-target-div"><p>- Comments and sharing</p></div>
          <p data-estimation-target="firstCatSecondType"><br></p>

          <div data-estimation-target="firstCatThirdType" class="esti-target-div"><p>- User management</p></div>
          <div data-estimation-target="firstCatThirdType" class="esti-target-div"><p>- Inventory management</p></div>
          <div data-estimation-target="firstCatThirdType" class="esti-target-div"><p>- Order management</p></div>
          <div data-estimation-target="firstCatThirdType" class="esti-target-div"><p>- Customer management</p></div>
          <div data-estimation-target="firstCatThirdType" class="esti-target-div"><p>- Shopping cart</p></div>
          <div data-estimation-target="firstCatThirdType" class="esti-target-div"><p>- Payment processing</p></div>
          <div data-estimation-target="firstCatThirdType" class="esti-target-div"><p>- Management interface</p></div>
          <p data-estimation-target="firstCatThirdType"><br></p>

          <div data-estimation-target="secondCatSecondType" class="esti-target-div"><p>- Template creation</p></div>
          <div data-estimation-target="thirdCatFirstType" class="esti-target-div"><p>- Standard site animation</p></div>
          <div data-estimation-target="thirdCatSecondType" class="esti-target-div"><p class="gold">- Dynamic site animation</p></div>
          <div data-estimation-target="thirdCatThirdType" class="esti-target-div"><p class="gold">- Creative site animation</p></div>
          <div data-estimation-target="fourthCatFirstType" class="esti-target-div"><p>- Contact by link</p></div>
          <div data-estimation-target="fourthCatSecondType" class="esti-target-div"><p>- Contact via form on the site</p></div>
          <div data-estimation-target="fourthCatThirdType" class="esti-target-div"><p class="gold">- Contact via form sent by email</p></div>
          <div data-estimation-target="fifthCatFirstType" class="esti-target-div"><p class="gold">- Adding a map</p></div>
          <div data-estimation-target="fifthCatSecondType" class="esti-target-div"><p class="gold">- Adding comments and reviews</p></div>


        </div>

        <div class="estimation-result-total-container">
          <p id="total-container" class="estimation-result-total">Estimation ≈&nbsp;<span id="total-price"> 0 </span>$</p>
        </div>

        <%= link_to about_path, data: { turbo: false } do %>
          <div class="link-ligne-rouge-container">
            <div class="link-ligne-rouge-red"></div>
            <span class="text-bold">Contact</span>
          </div>
        <% end %>


      </div>

    </div>

  </div>

</div>


<div class="home-cinq-div-container">
  <div class="home-cinq-div-content">

    <%= render "shared/lignesverticales" %>

    <div class="home-cinq-container">
      <div class="home-cinq-content">


        <div class="home-cinq-gauche-grand">
          <div class="home-cinq-gauche-petit">
            <div class="home-cinq-gauche-text">
              <h2>Contact</h2>
              <p>If you're ready to discuss your project or have any questions, feel free to reach out. I'm here to help bring your vision to life and provide personalized guidance along the way.</p>


              <%= link_to about_path, class: "btn-rouge js-home-fifth-button", data: { turbo: false } do %>
                <div class="block-rouge"></div>
                <div class="block-noir-fleche"><i class="fa-solid fa-arrow-right" style="color: #fff;"></i></div>
                <div class="block-text">Contact Me!</div>
              <% end %>

            </div>
          </div>
        </div>

        <div class="home-cinq-droite">
          <div class="home-cinq-droite-pic"><%= image_tag("world.png") %></div>
        </div>


      </div>
    </div>





  </div>
</div>
