<div class="home-over-nav">
</div>


<div class="home-container">

  <%= render "home/homefirst" %>
  <%= render "home/homesecond" %>
  <%= render "home/homethird" %>
  <%= render "home/homefourth" %>
  <%= render "home/homefifth" %>

</div>
