

<div class="home-over-nav">
  <div class="home-first-degrader-haut-rouge"></div>
</div>


<div class="home-container">

  <%= render "home/homefirst" %>
  <%= render "home/homesecond" %>
  <%= render "home/homethird" %>
  <%= render "home/homefourth" %>
  <%= render "home/homefifth" %>

</div>
