<div class="home-over-nav">
</div>


<div class="home-container">

  <%= render "pages/homefirst" %>
  <%= render "pages/homesecond" %>
  <%= render "pages/homethird" %>
  <%= render "pages/homefourth" %>
  <%= render "pages/homefifth" %>

</div>

<div class="footer">
</div>
