<div class="pass-nav-block-blanc" id="page-show-project"></div>
<div class="show-project-container">
  <div class="show-project-content">

    <div class="home-quatre-article-title">
      <h2 class="text-title"><%= @project.title %></h2>
    </div>

    <p class="text-lighty">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam eligendi obcaecati voluptatum velit voluptas, error, dolore ratione nihil rerum dolorem enim, optio repellat ipsa laborum suscipit repellendus impedit a esse?</p>

    <p class="text-lighty">
      This video is directly embedded from <%= @project.title %> site to give you a visual overview of the project. It allows you to better understand the content and features in action.
    </p>


    <% if @project.url.present? && @project.url.include?("youtube.com/watch?v=") %>
      <div class="video-container">
        <iframe
          src="<%= @project.url.gsub('watch?v=', 'embed/') %>?rel=0&modestbranding=1"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
      </div>
    <% end %>

    <div class="link-ligne-rouge-container">
      <div class="link-ligne-rouge-red"></div>
      <%= link_to 'Back to All Projects', projects_path, class: 'text-bold', data: { turbo: false } %>
    </div>


  </div>



</div>

<div class="home-cinq-div-container">
  <div class="home-cinq-div-content">

    <%= render "shared/lignesverticales" %>

    <div class="home-cinq-container">
      <div class="home-cinq-content">


        <div class="home-cinq-gauche-grand">
          <div class="home-cinq-gauche-petit">
            <div class="home-cinq-gauche-text">
              <h2>Your Estimate</h2>
              <p>Wondering how much it would cost to create the website of your dreams? Use our quick and easy estimation tool to get an instant quote based on your specific needs.</p>

              <%= link_to estimation_path, class: "btn-rouge js-home-fifth-button", data: { turbo: false } do %>
                <div class="block-rouge"></div>
                <div class="block-noir-fleche"><i class="fa-solid fa-arrow-right" style="color: #fff;"></i></div>
                <div class="block-text">Do The Estimation</div>
              <% end %>

            </div>
          </div>
        </div>

        <div class="home-cinq-droite">
          <div class="home-cinq-droite-pic"><%= image_tag("world.png") %></div>
        </div>

      </div>
    </div>

  </div>
</div>
