<!DOCTYPE html>
<html>
  <head>

    <title>Unlock Horizons | Web Development Solutions</title>
    <meta name="description" content="Unlock Horizons offers professional web development services to help businesses and individuals create tailored websites that expand their digital horizons.">
    <meta name="keywords" content="web development, website creation, custom websites, business websites, Unlock Horizons">
    <meta name="author" content="Unlock Horizons">

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://unlockhorizons.com" />
    <meta property="og:title" content="Unlock Horizons | Web Development Solutions" />
    <meta property="og:image" content="https://www.unlockhorizons.com/assets/styles_site/main_pic-e73d93731a8860cc1981d10c83191fe4eb9cf7908ffa9d2b7c45c2ba6d35fa1d.png" />
    <meta property="og:description" content="Unlock Horizons specializes in creating custom websites to help you expand your digital presence and reach your business goals." />
    <meta property="og:site_name" content="Unlock Horizons" />

    <%= favicon_link_tag 'uhico.ico' %>

    <meta name="theme-color" content="#161618">



    <link href="https://fonts.cdnfonts.com/css/gt-america-trial" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://kit.fontawesome.com/05cb7727b5.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render "shared/newnavbar" %>
    <%= render "shared/phonenav" %>

    <%= render "shared/flashes" %>

    <%= yield %>

    <%= render "shared/follower" %>



  </body>
  <footer>
    <%= render "shared/footer" %>
  </footer>
</html>
